
$grey:  #E6E6E6;

button, select, input, a, .label-info, .alert, .alert-success, .alert-danger {
    border-radius: 0!important;
}

.alert, .alert-success, .alert-danger {
    background: $grey;
    border: none;
    color: black;
}

#navbar-collapse {
    padding-left: 0!important;
}

.panel {
    box-shadow: none;
}
.profile-sidebar {
    background: white;
}

.profile-picture img {
    border-radius: 0 !important; 
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
}

.flaskbb-header {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-bottom: 20px;
}

.btn {
    font-weight: bold;
    color: black!important;
    background: $grey!important;
    border: 2px solid!important;
    border-bottom-color: #444!important;
    border-right-color: #444!important;
    border-left-color: #a6a6a6!important;
    border-top-color: #a6a6a6!important;
    height: 35px;
}
.btn-primary {
    height: 35px;
    font-weight: bold;
    color: black!important;
    background: $grey!important;
    border: 2px solid!important;
    border-bottom-color: #444!important;
    border-right-color: #444!important;
    border-left-color: #a6a6a6!important;
    border-top-color: #a6a6a6!important;
}

.category-panel .category-row.hover{
    background:white!important;

}
.nav-active {
    //color: $grey!important;
}
.navbar {
    margin-bottom: 7px!important;
}
.navbar-default {
    background: none!important;
    border: none!important;
}
.panel {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-bottom: 20px;
}

.category-panel .category-meta {
    border-bottom: 2px solid #cad7e1;
    color: black;

    border-bottom-color: #c7c7c7!important;
}
.category-panel .category-row {
    border: none!important;
}
body {
    // Margin bottom by footer height

    background: $grey;
}
.panel-heading {
    border-bottom: 2px solid #cad7e1;
    color: black;

    border-bottom-color: #c7c7c7!important;
}

.page-panel>.panel-heading {
    color: black;
    border-bottom-color: #c7c7c7!important;
}
.page-panel>.panel-heading a {
    text-decoration:underline!important;
}


.flaskbb-breadcrumb {

    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-bottom: 20px;
}

.breadcrumb>.active {
    color: black;
    font-weight: bold;
}

.author-avatar img {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;

}
.post-row {
    background: white;

}
.author-registered {
    color: black!important;

}
.author-posts {
    color: black!important;

}
.post-box {
    border-left: none;
}

.form-control {
    height: 35px;
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;

}

.pagination-link {
    background: $grey;
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-right: 5px; 
}

.navbar .navbar-nav .user-btn {
    padding-right: 0em;
    padding-left: 1em;
}

.topic-panel>.panel-heading {
    background: blue!important;
}

.topic-panel>.panel-heading a {
    color: white;
    font-weight: bold!important;
}


.dropdown-menu {
    background: $grey!important;
}

.topic-author a {
    color: blue!important;

}

.topic-last-post a{
    color: black;

}
.panel-body {
    background: white!important;
}
.page-body {
    background: white!important;
}
.profile-body {
    background: white!important;
}

.page-body.profile-body {
    background-color: white;
}

#profile-tabs {
    margin-top: 20px;
    margin-left: 7px;

}
.md-editor .btn-toolbar{
    border-radius: 0 !important; 
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;

}
.flaskbb-editor {

    border-radius: 0 !important; 
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
}

.sidebar {
    border-radius: 0 !important; 
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
}
.label-success {
    background-color: blue;
    border-radius: 0;
}
.profile-groupname {
    text-align: center;
    margin-top: 0.75em;
    color: blue;
    font-size: 1.2em;
    font-weight: 600;
}
.row .category-row :hover {
    background-color: white;
}

.icon-replyall:before {
    color: blue;
}
.icon-report:before {
    color: blue;
}
.forum-panel .forum-row {
    border-bottom: none!important;
}
.forum-panel .forum-meta {
    border-bottom: 2px solid #cad7e1;
    border-bottom-color: #c7c7c7 !important;
}
.seps {
    margin-top:30px;
}
