
$grey:  #E6E6E6;

button, select, input, a, .label-info, .alert, .alert-success, .alert-danger {
    border-radius: 0!important;
}

#navbar-collapse {
    padding-left: 0!important;
}

.panel {
    box-shadow: none;
}

.profile-picture img {
    border-radius: 0 !important; 
}

.flaskbb-header {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-bottom: 20px;
}

.btn {
    font-weight: bold;
    color: black!important;
    background: $grey!important;
    border: 2px solid!important;
    border-bottom-color: #444!important;
    border-right-color: #444!important;
    border-left-color: #a6a6a6!important;
    border-top-color: #a6a6a6!important;
    height: 35px;
}
.btn-primary {
    height: 35px;
    font-weight: bold;
    color: black!important;
    background: $grey!important;
    border: 2px solid!important;
    border-bottom-color: #444!important;
    border-right-color: #444!important;
    border-left-color: #a6a6a6!important;
    border-top-color: #a6a6a6!important;
}

.nav-active {
    color: $grey!important;
}
.navbar {
    margin-bottom: 7px!important;
}
.navbar-default {
    background: none!important;
    border: none!important;
}
.panel {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-bottom: 20px;
}

.category-panel .category-meta {
    background-color: blue;
    color: white!important;
    border-bottom: 1px solid #cad7e1;
}
.category-panel .category-meta .forum-name{
    background-color: blue;
    color: white!important;
}
.category-panel .category-row {
    border: none!important;
}
body {
    // Margin bottom by footer height

    background: $grey;
}
.panel-heading {
    border-bottom: none!important;
}

.page-panel>.panel-heading {
    background: blue;
    color: white;
    border-bottom-color: #c7c7c7!important;
}
.page-panel>.panel-heading a {
    color: white;
    text-decoration:underline!important;
}


.flaskbb-breadcrumb {

    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-bottom: 20px;
}

.breadcrumb>.active {
    color: black;
    font-weight: bold;
}

.author-avatar img {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;

}
.post-row {
    background: white;

}
.author-registered {
    color: black!important;

}
.author-posts {
    color: black!important;

}
.post-box {
    border-left: none;
}

.form-control {
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;

}
.pagination-link {

    background: $grey;
    border: 2px solid!important;
    border-bottom-color: #c7c7c7!important;
    border-right-color: #c7c7c7!important;
    border-left-color: #808080!important;
    border-top-color: #808080!important;
    margin-right: 5px; 
}

.navbar .navbar-nav .user-btn {
    padding-right: 0em;
    padding-left: 1em;
}
