<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="FlaskBB is a forum software written in Flask">
        <meta name="author" content="FlaskBB Team">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <title>
        {% block title %}
            {%- if not page_title -%}
                {{ flaskbb_config["PROJECT_TITLE"] }} - {{ flaskbb_config["PROJECT_SUBTITLE"] }}
            {%- else -%}
                {{ page_title }} - {{ flaskbb_config["PROJECT_TITLE"] }}
            {%- endif -%}
        {% endblock %}
        </title>

        {% block stylesheets %}
        <!-- syntax highlighting -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pygments.css') }}">
        <!-- bootstrap & aurora theme -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- lato font -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        {% endblock %}

        {# for extra stylesheets. e.q. a template has to add something #}
        {% block css %}
        {% endblock %}

        {# for various extra things #}
        {% block head_extra %}
        {% endblock %}
    </head>

    <body>

        <!-- main forum layout -->
        <div class="flaskbb-layout">
            <div class="container">

                <!-- forum header - place for the project title and subtitle -->
                {% block header %}
                <div class="flaskbb-header">
                    <div class="flaskbb-meta">
                        <div class="flaskbb-title">PLUTO (C:)</div>
                    </div>
                </div>
                {% endblock %}

                <!-- forum menu - contains all the navigation items -->
                {% block navigation %}
                <div class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <!-- navbar left -->
                        <ul class="nav navbar-nav forum-nav">

                            {%- from theme("macros.html") import is_active, topnav with context -%}
                            {{ topnav(endpoint='forum.index', name=_('Forum'), active=active_forum_nav) }}
                            {{ topnav(endpoint='forum.memberlist', name=_('Memberlist')) }}
                            {{ topnav(endpoint='forum.search', name=_('Search')) }}

                            {{ emit_event("after-last-navigation-element") }}
                                <!--<div class="btn-group navbar-btn user-btn">-->
                                    <!--<a class="btn btn-primary" href="/">-->
                                        <!--<span class=""></span> Index-->
                                    <!--</a>-->
                                <!--</div>-->

                                <!--<div class="btn-group navbar-btn user-btn">-->
                                    <!--<a class="btn btn-primary" href="/memberlist">-->
                                        <!--<span class=""></span> Memberlist-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="btn-group navbar-btn user-btn">-->
                                    <!--<a class="btn btn-primary" href="/search">-->
                                        <!--<span class=""></span> Search-->
                                    <!--</a>-->
                                <!--</div>-->
                        </ul>

                        <!-- navbar right -->
                        <ul class="nav navbar-nav navbar-right">

                            {% if current_user and current_user.is_authenticated %}
                            <!-- Inbox -->

                            <!-- User Menu -->
                            <li>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ url_for('user.profile', username=current_user.username) }}">
                                         {{ current_user.username }}
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">
                                        Logout
                                    </a>
                                </div>
                            </li>
                            {% else %}
                            <!-- Not logged in - Login/Register -->
                            <li>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">
                                        <span class=""></span> {% trans %}Login{% endtrans %}
                                    </a>
                                </div>
                            </li>
                            {% endif %}

                        </ul> <!-- end navbar right -->
                    </div> <!-- end navbar-collapse -->
                </div> <!-- end navbar -->
                {% endblock %}

                <!-- Place for all the (flashed) messages -->
                {% block messages %}
                <div id="flashed-messages">
                    {% include theme('flashed_messages.html') %}
                </div>
                {% endblock %}

                <!-- the actual content block -->
                {% block content %}
                {% endblock %}
            </div> <!-- end container -->

            <!-- the forum footer -->

        </div> <!-- end flaskbb-layout -->

        {% block javascript %}
        <!-- jquery and bootstrap and flaskbb.js -->
        <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
        {% endblock %}

        {# for extra scripts in other templates. #}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
